<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenGitVersion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TeamKnect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2598A9418B7B92D00916ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AC97AB186BF0F3009957B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2CC5A2118EF69BD007A7636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F6E96D186907B30064DC67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F6E994186907B30064DC67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
